

<table border="0" width="550"><tr><td valign="top">
   <t1><%=h @entry.title %></t1>
   <br><subs>(<b>posted on</b> <%= @entry.created_at %>)</subs>
   <br><b>category</b> : <%=h @entry.category %> | 
   <b>tags</b><% for tag in @tags %>
 : <%= link_to h(tag.tag), entries_path %>
<% end %>
<%if @entry.user_id == current_user.id%>
: (<%= link_to 'add tag', new_entry_tag_url(@entry) %>)
<%end%>
</td>
<td valign="top" width="101">
<div align="right" id="subs">
	<%if @entry.user.userpic != nil%>
		<img width="100" src="<%= @entry.user.userpic.public_filename %>">
	<%else%>
		<img src="../images/smile.jpg">
	<%end%>
<br><b><div align=center><%= @entry.user.login %></div></b></div>
</td></tr>
</table>
<p>
     <%=h @entry.description %>
</p>
<p align="center">
  <% if @entry.picture != '' %>
    <img class="resize-pic" src="<%=@entry.picture%>">
  <% else %>
  <% if @entry.pic != nil %>
      <img class="resize-pic" src="<%= @entry.pic.public_filename %>">
    <% end %>
  <% end %>
</p>
<p align="center">
<div id="star-ratings-block" align="center">
    <%= render :partial => "rating/rate", :locals => { :entry => @entry } %>
</div>
</p>
<p>
<div id="shadowed-border2" class="sb">
<div id="comment">
<% i=0 %>
<table border="0" width="500">
<% for comment in @comments %>
<% i+=1 %>
<tr><td>
<center>
<%if comment.anon == 'no'%>
	<%if comment.user.userpic != nil%>
		<img width=100 src="<%= comment.user.userpic.public_filename %>">
	<%else%>
		<img src="../images/smile.jpg">
	<%end%>
	<br><b><%= comment.user.login %></b>
<% else %>
	<img src="../images/smiley.jpg">
	<br><b>anonymous</b>
<% end %>
  </center>
  </td>
  <td>
<p align="right">
<t1><%= i %></t1>
</p>
<a name="comments"></a><p><%= comment.comment %></p>
<p align="right"><subs>
<% if current_user.id == comment.user_id %>
<%= link_to 'edit', edit_entry_comment_path(@entry,comment) %> | <%= link_to 'delete', entry_comment_path(@entry,comment), :confirm => 'Are you sure?', :method => :delete %>
<% else %>
<% if current_user.id == @entry.user_id %>
<%= link_to 'delete', entry_comment_path(@entry,comment), :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<% end %>
<br><%= comment.created_at %>
</p>
</subs>
</p>
</td></tr>
<tr><td><hr></td><td><hr></td></tr>
<% end %>
</table>

<%= link_to 'post a new comment', new_entry_comment_url(@entry) %>
</div>
</p>
</div>
<p>
<% if current_user.id == @entry.user_id %>
<%= link_to 'edit entry', edit_entry_path(@entry) %> | <%= link_to 'delete', @entry, :confirm => 'Are you sure?', :method => :delete %> | 
<% end %>
<%= link_to 'back to entries', entries_path %>
</p>
</body>
</html>