<head>
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>hearsay! - collaborative photo sharing and gossiping of the local community</title>
    <link rel="shortcut icon" href="/images/hicon.png" type="image/x-icon">

  <%= javascript_include_tag 'shadedBorder' %>
  <%= javascript_include_tag 'shadedBorderVar' %>
</head>
<body id="comments">
<p>
   <t1><%=h @entry.title %></t1>
   <br><b>category:</b>   <%=h @entry.category %> | 
   <b>tags</b><% for tag in @tags %>
: <%= link_to h(tag.tag), entries_path %>
<% end %>
<%if @entry.user_id == current_user.id%>
: <%= link_to 'add tag', new_entry_tag_url(@entry) %>
<%end%>

<!--
<form action="/entries/@entry.id" class="edit_entry" id="edit_entry_@entry.id" method="post">
<br>rate it! <input type="radio" value="1" id="@entry.add_vote(value)">1 <input type="radio" value="2" id="@entry.add_vote(value)">2
<br><input id="entry_submit" name="commit" type="submit" value="Create" />
<br><%= @entry.score %>
-->

</p>
<p>
<br>
     <%=h @entry.description %>
</p>
<p align="center">
  <% if @entry.picture != nil %>
    <img class="resize-pic" src="<%=@entry.picture%>">
  <% else %>
  <% if @entry.pic != nil %>
    <img class="resize-pic" src="<%= @entry.pic.public_filename %>">
  <% end %>
  <% end %>
</p>

<p>
<div id="shadowed-border2" class="sb">
<div id="comment">
<% i=0 %>
<% for comment in @comments %>
<% i+=1 %>
<div align="right">
<t1><%= i %></t1>
</div>
<%= comment.comment %>
<br><subs>USERNAME | DATE_POSTED</subs>
</p>
<hr>

<% end %>
<%= link_to 'post a new comment', new_entry_comment_url(@entry) %>
</div>
</p>
</div>
<p>
<%= link_to 'edit entry', edit_entry_path(@entry) %> |
<%= link_to 'back to entries', entries_path %>
</p>
</body>
</html>