 <%= javascript_include_tag :defaults %>
 
<h1>Sign up!</h1>
<font color="red"><b>*All fields are <u>REQUIRED</u></b></font>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :html =>{ :multipart => true}, :url => users_path do |f| -%>
<p><%= label_tag 'login' %> <%= f.text_field :login %></p>

<p><%= label_tag 'email' %> <%= f.text_field :email %></p>

<p><%= label_tag 'password' %> <%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %> <%= f.password_field :password_confirmation %></p>

<p>Upload a user icon: <%= file_field_tag 'user_pic' %>
<br><sup>(Icon will be resized to 100x100 pixels)</sup>
</p>

<p><%= submit_tag 'Sign up!' %>  <input type="reset" value="Do over!"></p>
<% end -%>
