<%#hos, bums, celebs, hot, geeks, other%>

<%@query = Entry.find(:all)%>

<c1>(hos)</c1><br/>
<div align="center">
<%for entry in @query%>
<%if entry.category == 'hos'%>
  <subs><%= link_to h(truncate(entry.title,16)), entry %></subs><br/>
  <% if entry.picture != '' %>
    <img width=60 src="<%=entry.picture%>">
  <% else %>
  <% if entry.pic != nil %>
    <img width=60 src="<%=entry.pic.public_filename %>">
  <% end %>
  <% end %><br/>
<%end%>
<%end%>
</div>

<c1>(bums)</c1><br/>
<div align="center">
<%for entry in @query%>
<%if entry.category == 'bums'%>
  <subs><%= link_to h(truncate(entry.title,16)), entry %></subs><br/>
  <% if entry.picture != '' %>
    <img width=60 src="<%=entry.picture%>">
  <% else %>
  <% if entry.pic != nil %>
    <img width=60 src="<%=entry.pic.public_filename %>">
  <% end %>
  <% end %><br/>
<%end%>
<%end%>
</div>

<c1>(celebs)</c1><br/>
<div align="center">
<%for entry in @query%>
<%if entry.category == 'celebs'%>
  <subs><%= link_to h(truncate(entry.title,16)), entry %></subs><br/>
  <% if entry.picture != '' %>
    <img width=60 src="<%=entry.picture%>">
  <% else %>
  <% if entry.pic != nil %>
    <img width=60 src="<%=entry.pic.public_filename %>">
  <% end %>
  <% end %><br/>
<%end%>
<%end%>
</div>

<c1>(geeks)</c1><br/>
<div align="center">
<%for entry in @query%>
<%if entry.category == 'geeks'%>
  <subs><%= link_to h(truncate(entry.title,16)), entry %></subs><br/>
  <% if entry.picture != '' %>
    <img width=60 src="<%=entry.picture%>">
  <% else %>
  <% if entry.pic != nil %>
    <img width=60 src="<%=entry.pic.public_filename %>">
  <% end %>
  <% end %><br/>
<%end%>
<%end%>
</div>

<c1>(hot)</c1><br/>
<div align="center">
<%for entry in @query%>
<%if entry.category == 'hot'%>
  <subs><%= link_to h(truncate(entry.title,16)), entry %></subs><br/>
  <% if entry.picture != '' %>
    <img width=60 src="<%=entry.picture%>">
  <% else %>
  <% if entry.pic != nil %>
    <img width=60 src="<%=entry.pic.public_filename %>">
  <% end %>
  <% end %><br/>
<%end%>
<%end%>
</div>

<c1>(other)</c1><br/>
<div align="center">
<%for entry in @query%>
<%if entry.category == 'other'%>
  <subs><%= link_to h(truncate(entry.title,16)), entry %></subs><br/>
  <% if entry.picture != '' %>
    <img width=60 src="<%=entry.picture%>">
  <% else %>
  <% if entry.pic != nil %>
    <img width=60 src="<%=entry.pic.public_filename %>">
  <% end %>
  <% end %><br/>
<%end%>
<%end%>
</div>