<p>
<div align="right" id="subs"><b>posted by</b> <%= @entry.user.login %> <b>on</b> <%= @entry.created_at %></div>
   <t1><%=h @entry.title %></t1>
   <br><b>category</b> : <%=h @entry.category %> | 
   <b>tags</b><% for tag in @tags %>
 : <%= link_to h(tag.tag), entries_path %>
<% end %>
<%if @entry.user_id == current_user.id%>
: (<%= link_to 'add tag', new_entry_tag_url(@entry) %>)
<%end%>

<!--
<form action="/entries/@entry.id" class="edit_entry" id="edit_entry_@entry.id" method="post">
<br>rate it! <input type="radio" value="1" id="@entry.add_vote(value)">1 <input type="radio" value="2" id="@entry.add_vote(value)">2
<br><input id="entry_submit" name="commit" type="submit" value="Create" />
<br><%= @entry.score %>
-->

</p>
<p>
<br>
     <%=h @entry.description %>
</p>

<div id="star-ratings-block">
    <b>Rating:</b> <%= number_with_precision(@entry.rating, 0.1) %>
    <%= render :partial => "rating/rate", :locals => { :entry => @entry } %>
    <br><b>click refresh to see changes</b>
</div>

<p align="center">
  <% if @entry.picture != '' %>
    <img class="resize-pic" src="<%=@entry.picture%>">
  <% else %>
  <% if @entry.pic != nil %>
      <img class="resize-pic" src="<%= @entry.pic.public_filename %>">
    <% end %>
  <% end %>
</p>

<p>
<div id="shadowed-border2" class="sb">
<div id="comment">
<% i=0 %>
<% for comment in @comments %>
<% i+=1 %>
<div align="right">
<t1><%= i %></t1>
</div>
<%= comment.comment %>
<br><subs>
<%if comment.anon == 'no'%>
<b>posted by</b> <%= comment.user.login %> <b>on</b> <%= comment.created_at %>
<%else%>
<b>posted anonymously</b>
<%end%>
<br>
<% if current_user.id == comment.user_id %>
<%= link_to 'edit', edit_entry_comment_path(@entry,comment) %> | <%= link_to 'delete', entry_comment_path(@entry,comment), :confirm => 'Are you sure?', :method => :delete %>
<% else %>
<% if current_user.id == @entry.user_id %>
<%= link_to 'delete', entry_comment_path(@entry,comment), :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<% end %>
</subs>
</p>
<hr>

<% end %>
<%= link_to 'post a new comment', new_entry_comment_url(@entry) %>
</div>
</p>
</div>
<p>
<% if current_user.id == @entry.user_id %>
<%= link_to 'edit entry', edit_entry_path(@entry) %> | <%= link_to 'delete', @entry, :confirm => 'Are you sure?', :method => :delete %> | 
<% end %>
<%= link_to 'back to entries', entries_path %>
</p>
</body>
</html>