 <%= javascript_include_tag :defaults %>
 
<h1>Sign up!</h1>
<p>
<% @user.password = @user.password_confirmation = nil %>
</p>
<%= error_messages_for :user %>
<% form_for :user, :html =>{ :multipart => true}, :url => users_path do |f| -%>
<p>Desired <%= label_tag 'login' %> Name <%= f.text_field :login %></p>

<p><%= label_tag 'email' %> <%= f.text_field :email %></p>

<p><%= label_tag 'password' %> <%= f.password_field :password %>
<br><subs>(Must be at least 6 digits.)</subs>
</p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %> <%= f.password_field :password_confirmation %></p>

<p>Upload a user icon (<i>Optional</i>): <%= file_field_tag 'user_pic' %>
<br><sup>(Please resize/crop icon to 100x100 pixels before uploading)</sup>
</p>

<p><%= submit_tag 'Sign up!' %>  <input type="reset" value="Do over!"></p>
<% end -%>
