<h1>Add a tag</h1>

<% form_for([@entry,@tag]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tag %> <%= f.text_field :tag %>
  </p>
  <p>
    <%= f.submit "Create tag" %>
  </p>
<% end %>

<%= link_to 'Back', entry_path(@entry) %>
